{% extends 'base.html.twig' %}

{% block page_title %}{{ is_new ? 'Create Expense' : 'Edit Expense' }}{% endblock %}
{% block page_subtitle %}{{ is_new ? 'Add a new expense record' : 'Update expense details' }}{% endblock %}

{% block main %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">{{ is_new ? 'New Expense' : 'Edit Expense #' ~ expense.id }}</h3>
    </div>
    <div class="card-body">
        {{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'}}) }}

        <div class="row mb-3">
            <div class="col-md-6">
                {{ form_row(form.amount) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.currency) }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                {{ form_row(form.category) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.expenseDate) }}
            </div>
        </div>

        <div class="mb-3">
            {{ form_row(form.description) }}
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                {{ form_row(form.project) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.customer) }}
            </div>
        </div>

        <div class="mb-3">
            {{ form_row(form.receiptPath) }}
        </div>

        <div class="d-flex justify-content-between">
            <a href="{{ path('expense_index') }}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Back to List
            </a>
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-save"></i> {{ is_new ? 'Create' : 'Update' }}
            </button>
        </div>

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
